<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Product index</title>
    <link rel="stylesheet" th:href="@{/lib/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
</head>
<body>
<div class="container">
    <div class="row" th:replace="~{layout/header :: menu}"></div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form th:action="@{/product/store}" th:object="${product}" method="post">
                <div class="mb-3">
                    <label class="form-label">Code</label>
                    <input type="text" class="form-control" th:field="*{code}">
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('code')}" th:errors="*{code}"></div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Name</label>
                    <input type="text" class="form-control" th:field="*{name}">
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Import Price</label>
                    <input type="number" class="form-control" th:field="*{importPrice}" min="0">
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('importPrice')}"
                         th:errors="*{importPrice}"></div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Price</label>
                    <input type="number" class="form-control" th:field="*{price}" min="0">
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Quantity</label>
                    <input type="number" class="form-control" th:field="*{quantity}" min="0">
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Person Create</label>
                    <input type="text" class="form-control" th:field="*{personCreate}">
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('personCreate')}"
                         th:errors="*{personCreate}"></div>
                </div>
                <button class="btn btn-success">Add</button>
            </form>
        </div>
        <div class="col-md-4">
            <form th:action="@{/product/upload}" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label">Excel File Input</label>
                    <input type="file" class="form-control"
                           accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                           name="excelFile">
                </div>
                <button type="submit" class="btn btn-success">Upload</button>
            </form>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Code</th>
                <th scope="col">Name</th>
                <th scope="col">Images</th>
                <th scope="col">Import Price</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Person Create</th>
                <th scope="col">Person Update</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="pr, stave : ${list_product}">
                <th scope="row" th:text="${stave.index + 1}">1</th>
                <td th:text="${pr.code}">Mark</td>
                <td th:text="${pr.name}">@mdo</td>
                <td>
                    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-inner" th:each="im, stave : ${pr.idImages}">
                                <div class="carousel-item" th:classappend="${stave.index == 0} ? active : ''">
                                    <img th:src="@{${im.linkImage}}" class="d-block w-100"  alt="...">
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </td>
                <td th:text="${pr.importPrice}">@mdo</td>
                <td th:text="${pr.price}">@mdo</td>
                <td th:text="${pr.quantity}">@mdo</td>
                <td th:text="${pr.personCreate}">@mdo</td>
                <td th:text="${pr.personUpdate}">@mdo</td>
                <td>
                    <a th:href="@{'/product/details/' + ${pr.id}}" class="btn btn-primary">Details</a>
                    <a th:href="@{'/product/edit/' + ${pr.id}}" class="btn btn-warning">Edit</a>
                    <a th:href="@{'/product/delete/' + ${pr.id}}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <nav aria-label="Page number example">
            <ul class="pagination">
                <li class="page-item" th:if="${pageNumber>0}">
                    <a class="page-link" th:href="@{/product/index(pageIndex=${pageNumber} -1)}">Previous</a>
                </li>
                <li class="page-item" th:unless="${pageNumber>0}">
                    <a class="page-link" disabled="true">Previous</a>
                </li>
                <div th:each="index : ${#numbers.sequence(0, pageSize-1)}">
                    <li class="page-item">
                        <a class="page-link" th:href="@{/product/index(pageIndex=${index})}"
                           th:text="${index} + 1"></a>
                    </li>
                </div>
                <li class="page-item" th:if="${pageNumber} < ${pageSize}  - 1">
                    <a class="page-link" th:href="@{/product/index(pageIndex=${pageNumber} +1)}">Next</a>
                </li>
                <li class="page-item" th:unless="${pageNumber} < ${pageSize}  - 1">
                    <a class="page-link" disabled="true">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!--footer start-->
<div class="row" th:replace="~{layout/footer :: footer}"></div>
<!--footer end-->
<script th:src="@{/lib/bootstrap.bundle.min.js}"></script>
</body>
</html>