<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Manufacture</title>
  <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
          crossorigin="anonymous"
  />
  <link rel="stylesheet" th:href="@{/css/header.css}">
  <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body>
<!-- header start -->
<div class="row" th:replace="~{layout/header :: menu}"></div>
<!-- header end -->
<section>
  <div class="container">
    <h1 style="text-align: center">Manager Manufacture</h1>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Code</th>
        <th scope="col">Name</th>
        <th scope="col">Date Create</th>
        <th scope="col">Date Update</th>
        <th scope="col">Person Create</th>
        <th scope="col">Person Update</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="mn, index : ${manufactures}">
        <th scope="row" th:text="${index.count}"></th>
        <td th:text="${mn.code}"></td>
        <td th:text="${mn.name}"></td>
        <td th:text="${mn.dateCreate}"></td>
        <td th:text="${mn.dateUpdate}"></td>
        <td th:text="${mn.personCreate}"></td>
        <td th:text="${mn.personUpdate}"></td>
        <td th:text="${mn.status == 0 ? 'Hoạt động' : 'Không hoạt động'}"></td>
        <td>
          <a
                  th:href="@{/manufacture/undo/{id}(id=${mn.id})}"
                  role="button"
                  class="btn btn-danger"
                  onclick="return confirmButton()"
          >Undo</a
          >
        </td>
      </tr>
      </tbody>
    </table>
    <!--        phân trang cho sản phẩm-->
    <nav aria-label="...">
      <ul class="pagination">
        <!--                trang đầu-->
        <li class="page-item">
          <a class="page-link" th:href="@{/manufacture/view-delete(page=0)}">Fist</a>
        </li>
        <!--Previous-->
        <li class="page-item" th:if="${pageNumber>0}">
          <a class="page-link" th:href="@{/manufactureview-delete/(page=${pageNumber} -1)}">Previous</a>
        </li>
        <li class="page-item" th:if="${pageNumber == 0}">
          <a class="page-link" th:disabled="true">Previous</a>
        </li>

        <!--                số thứ tự trang-->
        <!--                dùng for i trong thymleaf-->
        <div th:each="index : ${#numbers.sequence(0, pageProduct-1)}">
          <li class="page-item">
            <a class="page-link"
               th:href="@{/manufacture/view-delete(page=${index})}" th:text="${index+1}"></a>
          </li>
        </div>

        <!--       Next         -->
        <li class="page-item" th:if="${pageNumber < (pageProduct -1)}">
          <a class="page-link" th:href="@{/manufacture/view-delete(page=${pageNumber} +1)}">Next</a>
        </li>
        <li class="page-item" th:if="${pageNumber == (pageProduct -1)}">
          <a class="page-link" th:disabled="true">Next</a>
        </li>

        <!--                trang cuối-->
        <li class="page-item">
          <a class="page-link"
             th:href="@{/manufacture/view-delete(page=${pageProduct -1})}">Last</a>
        </li>
      </ul>
    </nav>
  </div>
</section>
<!--footer start-->
<div class="row" th:replace="~{layout/footer :: footer}"></div>
<!--footer end-->
</body>
<script>
  function confirmButton() {
    var result = confirm("Bạn chắc chắn muốn hoàn tác?");
    if (result) {
      return true;
    } else {
      return false;
    }
  }
</script>
</html>
