<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" th:fragment="footer">
        <!-- Footer -->
        <footer class="text-center text-lg-start bg-light text-muted">
        <div class="layout1">
            <!-- Section: Social media -->
            <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
                <!-- Left -->
                <div class="me-5 d-none d-lg-block">
                    <span>Subscribe to Our Newsletter  -  get a $20 Coupon for your first order! </span>
                </div>
                <!-- Left -->

                <!-- Right -->
                <div class="eamil">
                    <div class="input-group">
                        <div class="form-outline">
                            <input id="search-input" type="search" id="form1" class="form-control" />
                            <label class="form-label" for="form1">Enter your email address</label>
                        </div>
                        <button id="search-button" type="button" class="btn btn-primary">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
                <!-- Right -->
            </section>
            <!-- Section: Social media -->

        </div>
            <!-- Section: Links  -->
            <section class="layout2">
                <div class="container text-center text-md-start mt-5">
                    <!-- Grid row -->
                    <div class="row mt-3">
                        <!-- Grid column -->
                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                            <div class="logo">
                                <img src="/img/Logo.png" alt="" class="img-logo">
                            </div>

                            <div class="info">
                                <p>
                                    <i class="fas fa-home me-3"></i>
                                    Presei Square No45, Bucharest - 099455
                                </p>
                                <p>
                                    <i class="fas fa-envelope me-3"></i>
                                    contact@shoperz.com
                                </p>
                                <p><i class="fas fa-phone me-3"></i> (+40) 987 123 654</p>
                                <div>
                                    <a href="" class="me-4 text-reset">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a href="" class="me-4 text-reset">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a href="" class="me-4 text-reset">
                                        <i class="fab fa-google"></i>
                                    </a>
                                    <a href="" class="me-4 text-reset">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                    <a href="" class="me-4 text-reset">
                                        <i class="fab fa-linkedin"></i>
                                    </a>
                                    <a href="" class="me-4 text-reset">
                                        <i class="fab fa-github"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                            <!-- Links -->
                            <div class="categories">
                                <h6 class="text-uppercase fw-bold mb-4">
                                    Categories
                                </h6>
                                <p>
                                    <a href="#!" class="text-reset">TV & Audio</a>
                                </p>
                                <p>
                                    <a href="#!" class="text-reset">Smartphones</a>
                                </p>
                                <p>
                                    <a href="#!" class="text-reset">Laptop & PCs</a>
                                </p>
                                <p>
                                    <a href="#!" class="text-reset">Gadgets</a>
                                </p>
                                <p>
                                    <a href="#!" class="text-reset">Photo & Video</a>
                                </p>
                                <p>
                                    <a href="#!" class="text-reset">Gifts</a>
                                </p>
                                <p>
                                    <a href="#!" class="text-reset">Books</a>
                                </p>
                                <p>
                                    <a href="#!" class="text-reset">Toys</a>
                                </p>
                            </div>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                            <!-- Links -->
                            <div class="link">
                                <h6 class="text-uppercase fw-bold mb-4">
                                    Useful links
                                </h6>
                                <p>
                                    <a href="#!" class="text-reset">About</a>
                                </p>
                                <p>
                                    <a href="#!" class="text-reset">Contact</a>
                                </p>
                                <p>
                                    <a href="#!" class="text-reset">Wishlist</a>
                                </p>
                                <p>
                                    <a href="#!" class="text-reset">Compare</a>
                                </p>
                                <p>
                                    <a href="#!" class="text-reset">FAQ</a>
                                </p>
                                <p>
                                    <a href="#!" class="text-reset">Terms& conditions</a>
                                </p>
                                <p>
                                    <a href="#!" class="text-reset">Privacy Policy</a>
                                </p>
                                <p>
                                    <a href="#!" class="text-reset">Cookie Policy</a>
                                </p>
                            </div>

                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                            <!-- Links -->
                            <div class="service">
                                <h6 class="text-uppercase fw-bold mb-4">
                                    Customer Service
                                </h6>
                                <p>
                                    <a href="#!" class="text-reset">My Account</a>
                                </p>
                                <p>
                                    <a href="#!" class="text-reset">My Cart</a>
                                </p>
                                <p>
                                    <a href="#!" class="text-reset">Track Order</a>
                                </p>
                                <p>
                                    <a href="#!" class="text-reset">Returns & Exchanges</a>
                                </p>
                                <p>
                                    <a href="#!" class="text-reset">Repair Services</a>
                                </p>
                                <p>
                                    <a href="#!" class="text-reset">Support</a>
                                </p>
                            </div>

                        </div>
                        <!-- Grid column -->
                    </div>
                    <!-- Grid row -->
                </div>
            </section>
            <!-- Section: Links  -->

            <!-- Section: Social media -->
            <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
                <!-- Left -->
               <div class="layout3">
                   <div class="me-5 d-none d-lg-block">
                       <span>© Shoperz 2023 - All Rights Reserved</span>
                   </div>
               </div>
                <!-- Left -->

            </section>
            <!-- Section: Social media -->
        </footer>
        <!-- Footer -->
</div>
</body>
<script th:src="@{/lib/bootstrap.bundle.min.js}"></script>
</html>
