<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" th:fragment="footer">
    <footer>
        <div class="layout1">
            <div class="describe">
                Well Come!
            </div>
            <div class="form-sendMail">
                <input type="search" class="input-mail" placeholder="Enter your email address">
                <button class="sendButton" type="submit">
                    <i class="bi bi-send-fill"></i>
                </button>
            </div>
        </div>
        <div class="layout2"></div>
        <div class="layout3">
            <div class="firt-cart">
                <div class="cart-img">
                    <img src="/img/Logo.png" class="logo" alt="">
                </div>
                <div class="info-shop">
                    <span class="titi">
                        Headquarters
                    </span>
                    <span class="ez">
                        Presei Square No45, Bucharest - 099455
                    </span>
                </div>
                <div class="info-shop">
                    <span class="titi">
                        Email
                    </span>
                    <span class="ez">
                        contact@shoperz.com
                    </span>
                </div>
                <div class="info-shop">
                    <span class="titi">
                        Telephone
                    </span>
                    <span class="ez">
                        (+40) 987 123 654
                    </span>
                </div>
                <div class="info-shop-icon">
                    <div>
                        <i class="bi bi-facebook"></i>
                    </div>
                    <div>
                        <i class="bi bi-instagram"></i>
                    </div>
                    <div>
                        <i class="bi bi-linkedin"></i>
                    </div>
                    <div>
                        <i class="bi bi-twitter"></i>
                    </div>
                    <div>
                        <i class="bi bi-youtube"></i>
                    </div>
                </div>
            </div>
            <div class="second-card">
                <span>
                    Categories
                </span>
                <div>TV & Audio</div>
                <div>Toys</div>
                <div>Gifts</div>
                <div>Books</div>
            </div>
            <div class="second-card">
                <span>
                    Useful Links
                </span>
                <div>About</div>
                <div>Contact</div>
                <div>FQA</div>
                <div>Cookie Policy</div>
            </div>
            <div class="second-card">
                <span>
                    Customer Service
                </span>
                <div>My Account</div>
                <div>My Cart</div>
                <div>Track Order</div>
                <div>Support</div>
            </div>
        </div>
        <div class="last-layout">
            <span>© Shoperz 2023 - All Rights Reserved</span>
        </div>
    </footer>
</div>
</body>
<script th:src="@{/lib/bootstrap.bundle.min.js}"></script>
</html>
