<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" th:fragment="menu">
    <header class="auto-layout">
        <div class="logo">
            <div>
                <a href=""><i class="bi bi-list"></i></a>
            </div>
            <div>
                <img src="/img/Logo.png" alt="" class="img-logo">
            </div>
        </div>
        <div class="search">
            <form action="" class="search">
                <div class="box-search">
                    <input type="search" name="" class="input-search">
                </div>
                <div>
                    <button type="submit" class="search-button">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </form>
        </div>
        <div class="menu-icon">
            <div>
                <a href=""><i class="bi bi-person-fill"></i></a>
            </div>
            <div>
                <a href=""><i class="bi bi-bag-check-fill"></i></a>
            </div>
        </div>
    </header>
    <nav class="menu-function">
        <ul>
            <li>
                <i class="bi bi-card-list"></i>&ensp; Danh mục
            </li>
            <li>
                <i class="bi bi-telephone-fill"></i>&ensp; Phone
            </li>
            <li>
                <i class="bi bi-car-front-fill"></i>&ensp; Tra cứu đơn hàng
            </li>
        </ul>
    </nav>
</div>
</body>
<script th:src="@{/lib/bootstrap.bundle.min.js}"></script>
</html>