<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
            crossorigin="anonymous"/>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <script src="/js/confirm/confirmAddUpdateDelete.js"></script>
</head>
<body>
<!-- header start -->
<div class="row" th:replace="~{layout/header :: menu}"></div>
<!-- header end -->
<section class="container">
    <h1 style="text-align: center">Manager Size</h1>
    <hr/>
    <a th:href="@{/size/view-add}" class="btn btn-warning">View Add</a>
    <a th:href="@{/size/view-delete}" class="btn btn-warning">View Delete</a>
    <br/>
    <hr/>
    <section>
        <div class="container">
            <form class="d-flex" th:action="@{/size/seach}" method="get">
                <button class="btn btn-outline-success" type="submit">Search</button>
                <input
                        class="form-control me-2"
                        type="text"
                        name="seach"
                        placeholder="Search"
                        aria-label="Search"
                />
            </form>
        </div>
    </section>
    </hr>

    <div class="container">
        <form th:action="@{/size/upload}" method="POST" enctype="multipart/form-data">
            <label class="col-sm-2 col-form-label">IMPORT EXCEL:</label>
            <input type="file" class="form-control" name="file" accept=".xlsx, .xls"/>
            <br>
            <button type="submit" class="btn btn-outline-secondary">Upload</button>
            <span th:text="${messageUpload}" style="color: red"></span>
            <span th:text="${error}" style="color: red"></span>
        </form>
    </div>
    </hr>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">Code</th>
            <th scope="col">Name</th>
            <th scope="col">Date Create</th>
            <th scope="col">Date Update</th>
            <th scope="col">Person Create</th>
            <th scope="col">Person Update</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="size, index :${sizes}">
            <th scope="row" th:text="${index.count}"></th>
            <td th:text="${size.code}"></td>
            <td th:text="${size.name}"></td>
            <td th:text="${size.dateCreate}"></td>
            <td th:text="${size.dateUpdate}"></td>
            <td th:text="${size.personCreate}"></td>
            <td th:text="${size.personUpdate}"></td>
            <td th:text="${size.status==0?'Hoạt Động':'Không Hoạt Động'}"></td>
            <td>
                <div class="form-group row">
                    <div class="col-sm-4">
                        <a th:href="@{/size/view-update/{id}(id=${size.id})}" class="btn btn-warning">Update</a>
                    </div>
                    <div class="col-sm-4">
                        <a th:href="@{/size/detail/{id}(id=${size.id})}" class="btn btn-info">Detail</a>
                    </div>
                    <div class="col-sm-4">
                        <a th:href="@{/size/remove/{id}(id=${size.id})}" class="btn btn-danger" onclick="return confirmDelete()">Remove</a>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <!--        phân trang cho sản phẩm-->
    <nav aria-label="...">
        <ul class="pagination">
            <!--                trang đầu-->
            <li class="page-item">
                <a class="page-link" th:href="@{/size/hien-thi(pageNo=0)}">Fist</a>
            </li>
            <!--Previous-->
            <li class="page-item" th:if="${pageNumber>0}">
                <a class="page-link" th:href="@{/size/hien-thi(pageNo=${pageNumber} -1)}">Previous</a>
            </li>
            <li class="page-item" th:if="${pageNumber == 0}">
                <a class="page-link" th:disabled="true">Previous</a>
            </li>

            <!--                số thứ tự trang-->
            <!--                dùng for i trong thymleaf-->
            <div th:each="index : ${#numbers.sequence(0, sizeTotalPages-1)}">
                <li class="page-item">
                    <a class="page-link"
                       th:href="@{/size/hien-thi(pageNo=${index})}" th:text="${index+1}"></a>
                </li>
            </div>

            <!--       Next         -->
            <li class="page-item" th:if="${pageNumber < (sizeTotalPages -1)}">
                <a class="page-link" th:href="@{/size/hien-thi(pageNo=${pageNumber} +1)}">Next</a>
            </li>
            <li class="page-item" th:if="${pageNumber == (sizeTotalPages -1)}">
                <a class="page-link" th:disabled="true">Next</a>
            </li>

            <!--                trang cuối-->
            <li class="page-item">
                <a class="page-link"
                   th:href="@{/size/hien-thi(pageNo=${sizeTotalPages -1})}">Last</a>
            </li>
        </ul>
    </nav>
</section>
<!--footer start-->
<div class="row" th:replace="~{layout/footer :: footer}"></div>
<!--footer end-->
</body>
</html>