<!DOCTYPE html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Title</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
            crossorigin="anonymous"/>

    <link rel="stylesheet" href="/css/plugin/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/plugin/plugin.css"/>
    <link rel="stylesheet" href="/css/plugin/bundle.css"/>
    <link rel="stylesheet" href="/css/plugin/style.css"/>
    <link rel="stylesheet" href="/css/plugin/responsive.css"/>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <script src="/js/plugin/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
<!-- header start -->
    <div class="row" th:replace="~{layout/header :: menu}"></div>
<!-- header end -->

<!--pos page start-->
<div class="pos_page">
    <div class="container">
        <!--pos page inner-->
        <div class="pos_page_inner">
            <!--pos home section-->
            <div class=" pos_home_section">
                <div class="row pos_home">
                    <div class="col-lg-3 col-md-8 col-12">
                        <!--categorie menu start-->
                        <div class="sidebar_widget catrgorie mb-35">
                            <h3>Categories</h3>
                            <ul>
                                <li class="has-sub"><a href="#"><i class="fa fa-caret-right"></i> Iphone 7</a>
                                    <ul class="categorie_sub">
                                        <li><a href="#"><i class="fa fa-caret-right"></i> Iphone 7</a>
                                            <ul class="categorie_sub">
                                                <li><a href="#"><i class="fa fa-caret-right"></i> Iphone 7</a></li>
                                                <li><a href="#"><i class="fa fa-caret-right"></i> Iphone 7 Pro</a></li>
                                                <li><a href="#"><i class="fa fa-caret-right"></i> Iphone 7 Plus</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#"><i class="fa fa-caret-right"></i> Iphone 7 Pro</a></li>
                                        <li><a href="#"><i class="fa fa-caret-right"></i> Iphone 7 Plus</a></li>
                                    </ul>
                                </li>
                                <li class="has-sub"><a href="#"><i class="fa fa-caret-right"></i> Iphone 8</a>
                                    <ul class="categorie_sub">
                                        <li><a href="#"><i class="fa fa-caret-right"></i> Iphone 8</a>
                                            <ul class="categorie_sub">
                                                <li><a href="#"><i class="fa fa-caret-right"></i> Iphone 7</a></li>
                                                <li><a href="#"><i class="fa fa-caret-right"></i> Iphone 7 Pro</a></li>
                                                <li><a href="#"><i class="fa fa-caret-right"></i> Iphone 7 Plus</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#"><i class="fa fa-caret-right"></i> Iphone 8 Pro</a></li>
                                        <li><a href="#"><i class="fa fa-caret-right"></i>Iphone 8 Plus</a></li>
                                    </ul>
                                </li>
                                <li class="has-sub"><a href="#"><i class="fa fa-caret-right"></i> Iphone X</a>
                                    <ul class="categorie_sub">
                                        <li><a href="#"><i class="fa fa-caret-right"></i> Iphone 7</a>
                                            <ul class="categorie_sub">
                                                <li><a href="#"><i class="fa fa-caret-right"></i> Iphone 7</a></li>
                                                <li><a href="#"><i class="fa fa-caret-right"></i> Iphone 7 Pro</a></li>
                                                <li><a href="#"><i class="fa fa-caret-right"></i> Iphone 7 Plus</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#"><i class="fa fa-caret-right"></i> Iphone 11</a></li>
                                        <li><a href="#"><i class="fa fa-caret-right"></i> Iphone 12</a></li>
                                        <li><a href="#"><i class="fa fa-caret-right"></i> Iphone 13</a></li>
                                    </ul>
                                </li>
                                <li class="has-sub"><a href="#"><i class="fa fa-caret-right"></i> Iphone 11</a>
                                    <ul class="categorie_sub">
                                        <li><a href="#"><i class="fa fa-caret-right"></i> Iphone 7</a>
                                            <ul class="categorie_sub">
                                                <li><a href="#"><i class="fa fa-caret-right"></i> Iphone 7</a></li>
                                                <li><a href="#"><i class="fa fa-caret-right"></i> Iphone 7 Pro</a></li>
                                                <li><a href="#"><i class="fa fa-caret-right"></i> Iphone 7 Plus</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#"><i class="fa fa-caret-right"></i> Iphone 11</a></li>
                                        <li><a href="#"><i class="fa fa-caret-right"></i> Iphone 12</a></li>
                                        <li><a href="#"><i class="fa fa-caret-right"></i> Iphone 13</a></li>
                                    </ul>
                                </li>
                                <li class="has-sub"><a href="#"><i class="fa fa-caret-right"></i> Iphone 12</a>
                                    <ul class="categorie_sub">
                                        <li><a href="#"><i class="fa fa-caret-right"></i> Iphone 7</a>
                                            <ul class="categorie_sub">
                                                <li><a href="#"><i class="fa fa-caret-right"></i> Iphone 7</a></li>
                                                <li><a href="#"><i class="fa fa-caret-right"></i> Iphone 7 Pro</a></li>
                                                <li><a href="#"><i class="fa fa-caret-right"></i> Iphone 7 Plus</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#"><i class="fa fa-caret-right"></i> Iphone 11</a></li>
                                        <li><a href="#"><i class="fa fa-caret-right"></i> Iphone 12</a></li>
                                        <li><a href="#"><i class="fa fa-caret-right"></i> Iphone 13</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!--categorie menu end-->

                        <!--wishlist block start-->
                        <div class="sidebar_widget wishlist mb-35">
                            <div class="block_title">
                                <h3><a href="#">Wishlist</a></h3>
                            </div>
                            <div class="cart_item">
                                <div class="cart_img">
                                    <a href="#"><img src="assets/img/product/product1.jpg" alt=""></a>
                                </div>
                                <div class="cart_info">
                                    <a href="#">Iphone 12 Pro</a>
                                    <span class="cart_price">$500.00</span>
                                    <span class="quantity">Qty: 2</span>
                                </div>
                                <div class="cart_remove">
                                    <a title="Remove this item" href="#"><i class="fa fa-times-circle"></i></a>
                                </div>
                            </div>
                            <div class="cart_item">
                                <div class="cart_img">
                                    <a href="#"><img src="assets/img/product/product2.jpg" alt=""></a>
                                </div>
                                <div class="cart_info">
                                    <a href="#">Iphone 13 Pro Max</a>
                                    <span class="cart_price">$1500.00</span>
                                    <span class="quantity">Qty: 1</span>
                                </div>
                                <div class="cart_remove">
                                    <a title="Remove this item" href="#"><i class="fa fa-times-circle"></i></a>
                                </div>
                            </div>
                            <div class="block_content">
                                <p>2 products</p>
                                <a href="#">» My wishlists</a>
                            </div>
                        </div>
                        <!--wishlist block end-->

                        <!--popular tags area-->
                        <div class="sidebar_widget tags mb-35">
                            <div class="block_title">
                                <h3>popular tags</h3>
                            </div>
                            <div class="block_tags">
                                <a href="#">ipod</a>
                                <a href="#">sam sung</a>
                                <a href="#">apple</a>
                                <a href="#">iphone 5s</a>
                                <a href="#">superdrive</a>
                                <a href="#">shuffle</a>
                                <a href="#">nano</a>
                                <a href="#">iphone 4s</a>
                                <a href="#">canon</a>
                            </div>
                        </div>
                        <!--popular tags end-->

                        <!--newsletter block start-->
                        <div class="sidebar_widget newsletter mb-35">
                            <div class="block_title">
                                <h3>newsletter</h3>
                            </div>
                            <form action="#">
                                <p>Sign up for your newsletter</p>
                                <input placeholder="Your email address" type="text">
                                <button type="submit">Subscribe</button>
                            </form>
                        </div>
                        <!--newsletter block end-->

                        <!--sidebar banner-->
                        <div class="sidebar_widget bottom ">
                            <div class="banner_img">
                                <a href="#"><img src="assets/img/banner/banner9.jpg" alt=""></a>
                            </div>
                        </div>
                        <!--sidebar banner end-->
                    </div>
                    <div class="col-lg-9 col-md-12">
                        <!--banner slider start-->
                        <div class="banner_slider slider_1">
                            <div class="slider_active owl-carousel">
                                <div class="single_slider" style="background-image: url(assets/img/slider/slide_1.png)">
                                    <div class="slider_content">
                                        <div class="slider_content_inner">
                                            <h1>Phụ kiện chính hãng</h1>
                                            <p>Nhanh tay khẻo bỏ lỡ </p>
                                            <a href="#">shop now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="single_slider" style="background-image: url(assets/img/slider/slide_2.png)">
                                    <div class="slider_content">
                                        <div class="slider_content_inner">
                                            <h1>Iphone 14 Pro Max</h1>
                                            <p>Nhanh tay hốt ngay giá hời. </p>
                                            <a href="#">shop now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="single_slider" style="background-image: url(assets/img/slider/slide_3.jpg)">
                                    <div class="slider_content">
                                        <div class="slider_content_inner">
                                            <h1>Ipad Chính Hãng</h1>
                                            <p>Hàng chĩnh hãng. </p>
                                            <a href="#">shop now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--banner slider start-->

                        <!--new product area start-->
                        <div class="new_product_area">
                            <div class="block_title">
                                <h3>New Products</h3>
                            </div>
                            <div class="row">
                                <div class="product_active owl-carousel">
                                    <div class="col-lg-3">
                                        <div class="single_product">
                                            <div class="product_thumb">
                                                <a href="single-product.html"><img src="assets/img/product/product1.jpg"
                                                                                   alt=""></a>
                                                <div class="img_icone">
                                                    <img src="assets/img/cart/span-new.png" alt="">
                                                </div>
                                                <div class="product_action">
                                                    <a href="#"> <i class="fa fa-shopping-cart"></i> Add to cart</a>
                                                </div>
                                            </div>
                                            <div class="product_content">
                                                <span class="product_price">$50.00</span>
                                                <h3 class="product_title"><a href="single-product.html">Iphone</a></h3>
                                            </div>
                                            <div class="product_info">
                                                <ul>
                                                    <li><a href="#" title=" Add to Wishlist ">Add to Wishlist</a></li>
                                                    <li><a href="#" data-toggle="modal" data-target="#modal_box"
                                                           title="Quick view">View Detail</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="single_product">
                                            <div class="product_thumb">
                                                <a href="single-product.html"><img src="assets/img/product/product2.jpg"
                                                                                   alt=""></a>
                                                <div class="hot_img">
                                                    <img src="assets/img/cart/span-hot.png" alt="">
                                                </div>
                                                <div class="product_action">
                                                    <a href="#"> <i class="fa fa-shopping-cart"></i> Add to cart</a>
                                                </div>
                                            </div>
                                            <div class="product_content">
                                                <span class="product_price">$50.00</span>
                                                <h3 class="product_title"><a href="single-product.html">Iphone</a></h3>
                                            </div>
                                            <div class="product_info">
                                                <ul>
                                                    <li><a href="#" title=" Add to Wishlist ">Add to Wishlist</a></li>
                                                    <li><a href="#" data-toggle="modal" data-target="#modal_box"
                                                           title="Quick view">View Detail</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="single_product">
                                            <div class="product_thumb">
                                                <a href="single-product.html"><img src="assets/img/product/product3.jpg"
                                                                                   alt=""></a>
                                                <div class="img_icone">
                                                    <img src="assets/img/cart/span-new.png" alt="">
                                                </div>
                                                <div class="product_action">
                                                    <a href="#"> <i class="fa fa-shopping-cart"></i> Add to cart</a>
                                                </div>
                                            </div>
                                            <div class="product_content">
                                                <span class="product_price">$50.00</span>
                                                <h3 class="product_title"><a href="single-product.html">Iphone</a></h3>
                                            </div>
                                            <div class="product_info">
                                                <ul>
                                                    <li><a href="#" title=" Add to Wishlist ">Add to Wishlist</a></li>
                                                    <li><a href="#" data-toggle="modal" data-target="#modal_box"
                                                           title="Quick view">View Detail</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="single_product">
                                            <div class="product_thumb">
                                                <a href="single-product.html"><img src="assets/img/product/product4.jpg"
                                                                                   alt=""></a>
                                                <div class="hot_img">
                                                    <img src="assets/img/cart/span-hot.png" alt="">
                                                </div>
                                                <div class="product_action">
                                                    <a href="#"> <i class="fa fa-shopping-cart"></i> Add to cart</a>
                                                </div>
                                            </div>
                                            <div class="product_content">
                                                <span class="product_price">$50.00</span>
                                                <h3 class="product_title"><a href="single-product.html">Iphone</a></h3>
                                            </div>
                                            <div class="product_info">
                                                <ul>
                                                    <li><a href="#" title=" Add to Wishlist ">Add to Wishlist</a></li>
                                                    <li><a href="#" data-toggle="modal" data-target="#modal_box"
                                                           title="Quick view">View Detail</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="single_product">
                                            <div class="product_thumb">
                                                <a href="single-product.html"><img src="assets\img\product\product6.jpg"
                                                                                   alt=""></a>
                                                <div class="img_icone">
                                                    <img src="assets\img\cart\span-new.png" alt="">
                                                </div>
                                                <div class="product_action">
                                                    <a href="#"> <i class="fa fa-shopping-cart"></i> Add to cart</a>
                                                </div>
                                            </div>
                                            <div class="product_content">
                                                <span class="product_price">$50.00</span>
                                                <h3 class="product_title"><a href="single-product.html">Iphone</a></h3>
                                            </div>
                                            <div class="product_info">
                                                <ul>
                                                    <li><a href="#" title=" Add to Wishlist ">Add to Wishlist</a></li>
                                                    <li><a href="#" data-toggle="modal" data-target="#modal_box"
                                                           title="Quick view">View Detail</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--new product area start-->

                        <!--featured product start-->
                        <div class="featured_product">
                            <div class="block_title">
                                <h3>Featured Products</h3>
                            </div>
                            <div class="row">
                                <div class="product_active owl-carousel">
                                    <div class="col-lg-3">
                                        <div class="single_product">
                                            <div class="product_thumb">
                                                <a href="single-product.html"><img src="assets/img/product/product7.png"
                                                                                   alt=""></a>
                                                <div class="hot_img">
                                                    <img src="assets/img/cart/span-hot.png" alt="">
                                                </div>
                                                <div class="product_action">
                                                    <a href="#"> <i class="fa fa-shopping-cart"></i> Add to cart</a>
                                                </div>
                                            </div>
                                            <div class="product_content">
                                                <span class="product_price">$60.00</span>
                                                <h3 class="product_title"><a href="single-product.html">Iphone Mới</a>
                                                </h3>
                                            </div>
                                            <div class="product_info">
                                                <ul>
                                                    <li><a href="#" title=" Add to Wishlist ">Add to Wishlist</a></li>
                                                    <li><a href="#" data-toggle="modal" data-target="#modal_box"
                                                           title="Quick view">View Detail</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="single_product">
                                            <div class="product_thumb">
                                                <a href="single-product.html"><img src="assets/img/product/product8.jpg"
                                                                                   alt=""></a>
                                                <div class="img_icone">
                                                    <img src="assets/img/cart/span-new.png" alt="">
                                                </div>
                                                <div class="product_action">
                                                    <a href="#"> <i class="fa fa-shopping-cart"></i> Add to cart</a>
                                                </div>
                                            </div>
                                            <div class="product_content">
                                                <span class="product_price">$60.00</span>
                                                <h3 class="product_title"><a href="single-product.html">Iphone Mới</a>
                                                </h3>
                                            </div>
                                            <div class="product_info">
                                                <ul>
                                                    <li><a href="#" title=" Add to Wishlist ">Add to Wishlist</a></li>
                                                    <li><a href="#" data-toggle="modal" data-target="#modal_box"
                                                           title="Quick view">View Detail</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="single_product">
                                            <div class="product_thumb">
                                                <a href="single-product.html"><img src="assets/img/product/product9.jpg"
                                                                                   alt=""></a>
                                                <div class="img_icone">
                                                    <img src="assets/img/cart/span-new.png" alt="">
                                                </div>
                                                <div class="product_action">
                                                    <a href="#"> <i class="fa fa-shopping-cart"></i> Add to cart</a>
                                                </div>
                                            </div>
                                            <div class="product_content">
                                                <span class="product_price">$60.00</span>
                                                <h3 class="product_title"><a href="single-product.html">Iphone Mới</a>
                                                </h3>
                                            </div>
                                            <div class="product_info">
                                                <ul>
                                                    <li><a href="#" title=" Add to Wishlist ">Add to Wishlist</a></li>
                                                    <li><a href="#" data-toggle="modal" data-target="#modal_box"
                                                           title="Quick view">View Detail</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="single_product">
                                            <div class="product_thumb">
                                                <a href="single-product.html"><img
                                                        src="assets/img/product/product10.png"
                                                        alt=""></a>
                                                <div class="hot_img">
                                                    <img src="assets/img/cart/span-hot.png" alt="">
                                                </div>
                                                <div class="product_action">
                                                    <a href="#"> <i class="fa fa-shopping-cart"></i> Add to cart</a>
                                                </div>
                                            </div>
                                            <div class="product_content">
                                                <span class="product_price">$60.00</span>
                                                <h3 class="product_title"><a href="single-product.html">Iphone Mới</a>
                                                </h3>
                                            </div>
                                            <div class="product_info">
                                                <ul>
                                                    <li><a href="#" title=" Add to Wishlist ">Add to Wishlist</a></li>
                                                    <li><a href="#" data-toggle="modal" data-target="#modal_box"
                                                           title="Quick view">View Detail</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="single_product">
                                            <div class="product_thumb">
                                                <a href="single-product.html"><img
                                                        src="assets/img/product/product11.png"
                                                        alt=""></a>
                                                <div class="img_icone">
                                                    <img src="assets/img/cart/span-new.png" alt="">
                                                </div>
                                                <div class="product_action">
                                                    <a href="#"> <i class="fa fa-shopping-cart"></i> Add to cart</a>
                                                </div>
                                            </div>
                                            <div class="product_content">
                                                <span class="product_price">$60.00</span>
                                                <h3 class="product_title"><a href="single-product.html">Iphone Mới</a>
                                                </h3>
                                            </div>
                                            <div class="product_info">
                                                <ul>
                                                    <li><a href="#" title=" Add to Wishlist ">Add to Wishlist</a></li>
                                                    <li><a href="#" data-toggle="modal" data-target="#modal_box"
                                                           title="Quick view">View Detail</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--featured product end-->

                        <!--banner area start-->
                        <div class="banner_area mb-60">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="single_banner">
                                        <a href="#"><img src="assets/img/banner/banner7.jpg" alt=""></a>
                                        <div class="banner_title">
                                            <p>Up to <span> 40%</span> off</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="single_banner">
                                        <a href="#"><img src="assets/img/banner/banner8.jpg" alt=""></a>
                                        <div class="banner_title title_2">
                                            <p>sale off <span> 30%</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--banner area end-->

                        <!--product start-->
                        <div class="featured_product">
                            <div class="block_title">
                                <h3>Products</h3>
                            </div>
                            <div class="row">
                                <div class="product_active owl-carousel">
                                    <div class="col-lg-3">
                                        <div class="single_product">
                                            <div class="product_thumb">
                                                <a href="single-product.html"><img src="assets/img/product/product7.png"
                                                                                   alt=""></a>
                                                <div class="hot_img">
                                                    <img src="assets/img/cart/span-hot.png" alt="">
                                                </div>
                                                <div class="product_action">
                                                    <a href="#"> <i class="fa fa-shopping-cart"></i> Add to cart</a>
                                                </div>
                                            </div>
                                            <div class="product_content">
                                                <span class="product_price">$60.00</span>
                                                <h3 class="product_title"><a href="single-product.html">Iphone Mới</a>
                                                </h3>
                                            </div>
                                            <div class="product_info">
                                                <ul>
                                                    <li><a href="#" title=" Add to Wishlist ">Add to Wishlist</a></li>
                                                    <li><a href="#" data-toggle="modal" data-target="#modal_box"
                                                           title="Quick view">View Detail</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="single_product">
                                            <div class="product_thumb">
                                                <a href="single-product.html"><img src="assets/img/product/product8.jpg"
                                                                                   alt=""></a>
                                                <div class="img_icone">
                                                    <img src="assets/img/cart/span-new.png" alt="">
                                                </div>
                                                <div class="product_action">
                                                    <a href="#"> <i class="fa fa-shopping-cart"></i> Add to cart</a>
                                                </div>
                                            </div>
                                            <div class="product_content">
                                                <span class="product_price">$60.00</span>
                                                <h3 class="product_title"><a href="single-product.html">Iphone Mới</a>
                                                </h3>
                                            </div>
                                            <div class="product_info">
                                                <ul>
                                                    <li><a href="#" title=" Add to Wishlist ">Add to Wishlist</a></li>
                                                    <li><a href="#" data-toggle="modal" data-target="#modal_box"
                                                           title="Quick view">View Detail</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="single_product">
                                            <div class="product_thumb">
                                                <a href="single-product.html"><img src="assets/img/product/product9.jpg"
                                                                                   alt=""></a>
                                                <div class="img_icone">
                                                    <img src="assets/img/cart/span-new.png" alt="">
                                                </div>
                                                <div class="product_action">
                                                    <a href="#"> <i class="fa fa-shopping-cart"></i> Add to cart</a>
                                                </div>
                                            </div>
                                            <div class="product_content">
                                                <span class="product_price">$60.00</span>
                                                <h3 class="product_title"><a href="single-product.html">Iphone Mới</a>
                                                </h3>
                                            </div>
                                            <div class="product_info">
                                                <ul>
                                                    <li><a href="#" title=" Add to Wishlist ">Add to Wishlist</a></li>
                                                    <li><a href="#" data-toggle="modal" data-target="#modal_box"
                                                           title="Quick view">View Detail</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="single_product">
                                            <div class="product_thumb">
                                                <a href="single-product.html"><img
                                                        src="assets/img/product/product10.png"
                                                        alt=""></a>
                                                <div class="hot_img">
                                                    <img src="assets/img/cart/span-hot.png" alt="">
                                                </div>
                                                <div class="product_action">
                                                    <a href="#"> <i class="fa fa-shopping-cart"></i> Add to cart</a>
                                                </div>
                                            </div>
                                            <div class="product_content">
                                                <span class="product_price">$60.00</span>
                                                <h3 class="product_title"><a href="single-product.html">Iphone Mới</a>
                                                </h3>
                                            </div>
                                            <div class="product_info">
                                                <ul>
                                                    <li><a href="#" title=" Add to Wishlist ">Add to Wishlist</a></li>
                                                    <li><a href="#" data-toggle="modal" data-target="#modal_box"
                                                           title="Quick view">View Detail</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="single_product">
                                            <div class="product_thumb">
                                                <a href="single-product.html"><img
                                                        src="assets/img/product/product11.png"
                                                        alt=""></a>
                                                <div class="img_icone">
                                                    <img src="assets/img/cart/span-new.png" alt="">
                                                </div>
                                                <div class="product_action">
                                                    <a href="#"> <i class="fa fa-shopping-cart"></i> Add to cart</a>
                                                </div>
                                            </div>
                                            <div class="product_content">
                                                <span class="product_price">$60.00</span>
                                                <h3 class="product_title"><a href="single-product.html">Iphone Mới</a>
                                                </h3>
                                            </div>
                                            <div class="product_info">
                                                <ul>
                                                    <li><a href="#" title=" Add to Wishlist ">Add to Wishlist</a></li>
                                                    <li><a href="#" data-toggle="modal" data-target="#modal_box"
                                                           title="Quick view">View Detail</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--product end-->
                    </div>
                </div>
            </div>
            <!--pos home section end-->
        </div>
        <!--pos page inner end-->
    </div>
</div>
<!--pos page end-->

<!--footer start-->
<!--<div class="row" th:replace="~{layout/footer :: footer}"></div>-->
<!--footer end-->

<!-- modal area start -->
<div class="modal fade" id="modal_box" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal_body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-12">
                            <div class="modal_tab">
                                <div class="tab-content" id="pills-tabContent">
                                    <div class="tab-pane fade show active" id="tab1" role="tabpanel">
                                        <div class="modal_tab_img">
                                            <a href="#"><img src="assets/img/product/product13.jpg" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab2" role="tabpanel">
                                        <div class="modal_tab_img">
                                            <a href="#"><img src="assets/img/product/product14.jpg" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab3" role="tabpanel">
                                        <div class="modal_tab_img">
                                            <a href="#"><img src="assets/img/product/product15.jpg" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal_tab_button">
                                    <ul class="nav product_navactive" role="tablist">
                                        <li>
                                            <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab"
                                               aria-controls="tab1" aria-selected="false"><img
                                                    src="assets/img/product/product15.jpg" alt=""></a>
                                        </li>
                                        <li>
                                            <a class="nav-link" data-toggle="tab" href="#tab2" role="tab"
                                               aria-controls="tab2" aria-selected="false"><img
                                                    src="assets/img/product/product15.jpg" alt=""></a>
                                        </li>
                                        <li>
                                            <a class="nav-link button_three" data-toggle="tab" href="#tab3" role="tab"
                                               aria-controls="tab3" aria-selected="false"><img
                                                    src="assets/img/product/product15.jpg" alt=""></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-12">
                            <div class="modal_right">
                                <div class="modal_title mb-10">
                                    <h2>Iphone 14</h2>
                                </div>
                                <div class="modal_price mb-10">
                                    <span class="new_price">$1000.99</span>
                                    <span class="old_price">$1500.99</span>
                                </div>
                                <div class="modal_content mb-10">
                                    <p>Hiệu năng vượt trội - Chip Apple A15 Bionic mạnh mẽ, hỗ trợ mạng 5G tốc độ cao</p>
                                </div>
                                <div class="modal_size mb-15">
                                    <h2>size</h2>
                                    <ul>
                                        <li><a href="#">128GB</a></li>
                                        <li><a href="#">256GB</a></li>
                                        <li><a href="#">512GB</a></li>
                                        <li><a href="#">1TB</a></li>
                                        <li><a href="#">2TB</a></li>
                                    </ul>
                                </div>
                                <div class="modal_add_to_cart mb-15">
                                    <form action="#">
                                        <input min="0" max="100" step="2" value="1" type="number">
                                        <button type="submit">add to cart</button>
                                    </form>
                                </div>
                                <div class="modal_description mb-15">
                                    <p>Về kích thước, iPhone 13 sẽ có 4 phiên bản khác nhau và kích thước không đổi so
                                        với series iPhone 12 hiện tại. Nếu iPhone 12 có sự thay đổi trong thiết kế từ
                                        góc cạnh bo tròn</p>
                                </div>
                                <div class="modal_social">
                                    <h2>Share this product</h2>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- modal area end -->

<div class="row" th:replace="~{layout/footer :: footer}"></div>
<!-- all js here -->
<script src="/js/plugin/vendor/jquery-1.12.0.min.js"></script>
<script src="/js/plugin/popper.js"></script>
<script src="/js/plugin/bootstrap.min.js"></script>
<script src="/js/plugin/ajax-mail.js"></script>
<script src="/js/plugin/plugins.js"></script>
<script src="/js/plugin/main.js"></script>
</body>
</html>