<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Details</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
            crossorigin="anonymous"/>
</head>
<script>
    function confirmSubmit() {
        var result = true;
        if ($('.error').length > 0) {
            alert("Vui lòng kiểm tra thông tin");
            result = false;
        } else {
            result = confirm("Bạn có chắc chắn không?");
        }
        return result;
    }
</script>
<body>
<div class="container text-center">
    <div><h1>Product Detail Add</h1></div>
</div>
<hr/>
<div class="container">
    <a th:href="@{/productDetails/display}" class="btn btn-outline-secondary">DISPLAY</a>
</div>
<hr/>
<div class="container">
    <form th:action="@{/productDetails/add}" method="post" th:object="${proDetail}">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">CODE:</label>
            <input class="form-control" name="code" type="text" th:field="*{code}"/>
            <span th:errors="*{code}" style="color: red"></span>
            <span th:text="${messege}" style="color: red"></span>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">NAME:</label>
            <input class="form-control" name="name" type="text" th:field="*{name}"/>
            <span th:errors="*{name}" style="color: red"></span>
        </div>
        <
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">CAPACITY:</label>
            <select class="form-control" name="capacity" th:field="*{capacity}">
                <option value="">-- Select Capacity --</option>
                <option th:each="capacity : ${capacities}" th:value="${capacity.id}"
                        th:text="${capacity.name}"></option>
            </select>

            <span th:errors="*{capacity}" style="color: red"></span>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">COLOR:</label>
            <select class="form-control" name="color" th:field="*{color}">
                <option value="">-- Select Color --</option>
                <option th:each="color : ${color}" th:value="${color.id}" th:text="${color.name}"></option>
            </select>

            <span th:errors="*{color}" style="color: red"></span>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">MANUFACTURER:</label>
            <select class="form-control" name="manufacturer" th:field="*{manufacture}">
                <option value="">-- Select manufacturer --</option>
                <option th:each="manu : ${manufacturer}" th:value="${manu.id}" th:text="${manu.name}"></option>
            </select>

            <span th:errors="*{manufacture}" style="color: red"></span>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">CATEGORY:</label>
            <select class="form-control" name="category" th:field="*{category}">
                <option value="">-- Select Category --</option>
                <option th:each="category : ${category}" th:value="${category.id}" th:text="${category.name}"></option>
            </select>

            <span th:errors="*{category}" style="color: red"></span>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">PRODUCT:</label>
            <select class="form-control" name="product" th:field="*{product}">
                <option value="">-- Select product --</option>
                <option th:each="product : ${product}" th:value="${product.id}" th:text="${product.name}"></option>
            </select>

            <span th:errors="*{product}" style="color: red"></span>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">CHIP:</label>
            <select class="form-control" name="chip" th:field="*{chip}">
                <option value="">-- Select Chip --</option>
                <option th:each="chip : ${chip}" th:value="${chip.id}" th:text="${chip.name}"></option>
            </select>

            <span th:errors="*{chip}" style="color: red"></span>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">SCREEN:</label>
            <select class="form-control" name="screen" th:field="*{screen}">
                <option value="">-- Select Screen --</option>
                <option th:each="screen : ${screen}" th:value="${screen.id}" th:text="${screen.name}"></option>
            </select>

            <span th:errors="*{screen}" style="color: red"></span>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">RAM:</label>
            <select class="form-control" name="ram" th:field="*{ram}">
                <option value="">-- Select Ram --</option>
                <option th:each="ram : ${ram}" th:value="${ram.id}" th:text="${ram.name}"></option>
            </select>

            <span th:errors="*{ram}" style="color: red"></span>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">PersonCreate:</label>
            <input class="form-control" name="personCreate" type="text" th:field="*{personCreate}"/>
            <span th:errors="*{personCreate}" style="color: red"></span>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">PersonUpdate:</label>
            <input class="form-control" name="personUpdate" type="text" th:field="*{personUpdate}"/>
            <span th:errors="*{personUpdate}" style="color: red"></span>
        </div>
        <br/>
        <button type="submit" class="btn btn-outline-secondary" onclick="return confirmSubmit()">ADD</button>
    </form>
</div>
</body>
</html>